:host(num-text), *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:host(num-text) {
  --padding: 5px;
  position: relative;
  height: 60px;
  display: inline-block;
  vertical-align: bottom;
  --color: #000000;
  color: var(--color);
  font-size: 13px;
  font-family: ui-monospace, "Cousine", "Consolas", monospace;
  line-height: 1.3;
  --background: #ffffff;
  background: var(--background);
  border: 1px solid #808080;
  border-radius: 3px;
  overflow: hidden;
  cursor: text;
  --scrollbar-backdrop: var(--background);
  user-select: none;
  -webkit-user-select: none;
  transition: 75ms;
  transition-property: background-color, border-color, box-shadow;
}
:host(num-text:hover) {
  border-color: #3b3b3b;
}
:host(num-text:focus-within) {
  --background: #f1fbff;
  border-color: #0050ff;
  box-shadow: 0 0 0 3px #8bd0e6ad;
}
:host(num-text[disabled]) {
  --background: #efefef;
  border-color: #b0b0b0;
  opacity: 0.65;
  cursor: default;
}
[part="container"] {
  width: 100%;
  height: 100%;
  display: flex;
}
[part="gutter"] {
  counter-reset: line-number;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  list-style: inside none;
  overflow: hidden;
}
[part="line-number"]::before {
  content: counter(line-number);
  counter-increment: line-number;
  padding: 0 calc(var(--padding) * 2);
  display: block;
  text-align: right;
  opacity: 0.55;
}
[part="line-number"]:first-child::before {
  padding-top: calc(var(--padding) + var(--overscroll-top,0px));
}
[part="line-number"]:last-child {
  flex-basis: 100%;
}
[part="line-number"]:last-child::before {
  padding-bottom: calc(var(--padding) + var(--overscroll-bottom,0px));
  height: 100%;
}
[part="line-number"]:last-child::after {
  content: "";
  display: block;
  height: var(--overflow-offset-y,0px);
}
[part="content"] {
  position: relative;
  min-width: 4ch;
  min-height: 4ch;
  flex-basis: 100%;
  display: flex;
  overflow: hidden;
}
[part="content"]::before, [part="content"]::after {
  content: "";
  position: absolute;
  background: var(--scrollbar-backdrop);
}
[part="content"]::before {
  right: 0;
  top: 0;
  width: var(--overflow-offset-x,0px);
  height: 100%;
  z-index: 1;
}
[part="content"]::after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--overflow-offset-y,0px);
}
[part="editor"] {
  padding: var(--padding);
  flex-basis: 100%;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  z-index: 1;
  -webkit-appearance: none;
}
[part="editor"]::placeholder {
  color: var(--color);
  opacity: 0.55;
  white-space: pre-wrap;
}