*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --selection-color: inherit;
  --selection-background: #75b1ff38;
  --selection-background-inactive: #a1a1a138;
}
html {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #dddddd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #333333;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
}
body.macOS-device header {
  height: 28px;
  border-bottom: 1px solid #000000;
}
header .app-region {
  margin: var(--app-region-margin);
  margin-bottom: 0;
  --app-region-margin: 4px;
  position: absolute;
  width: calc(100% - var(--app-region-margin) * 2);
  height: calc(100% - var(--app-region-margin));
  z-index: -1;
  -webkit-app-region: drag;
}
header .app-title {
  margin-left: unset;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
body.window-inactive header .app-title {
  opacity: 0.55;
}
@media (max-width: 500px) {
  body:not(.macOS-device) header .app-title {
    margin-left: auto;
    position: unset;
    left: unset;
    transform: unset;
  }
}
header .window-controls {
  margin-left: auto;
  height: 100%;
  display: flex;
  -webkit-app-region: no-drag;
}
body.window-inactive header .window-controls {
  opacity: 0.55;
}
body.macOS-device header .window-controls {
  display: none;
}
header .window-controls .control {
  padding: 8px 16px;
  color: inherit;
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  line-height: 14px;
}
header .window-controls .control:hover {
  background: #ffffff20;
}
header .window-controls .control[data-control="maximize"] [data-icon]:not(.active) {
  display: none;
}
header .window-controls .control[data-control="close"]:hover {
  color: #ffffff;
  background: #e81123;
}
main {
  position: relative;
  flex: 1;
  display: flex;
}
main .workspace-editor {
  position: absolute;
  top: 0;
  left: 0;
  color: #eeeeee;
  font-size: 13px;
  font-family: "Cousine", monospace;
  background: #222222;
  border: none;
  outline: none;
}
body[data-orientation="horizontal"] main .workspace-editor {
  width: 50%;
  height: 100%;
}
body[data-orientation="vertical"] main .workspace-editor {
  width: 100%;
  height: 50%;
}
main .workspace-editor textarea, main .workspace-editor ol {
  padding: 6px;
  background: none;
}
main .workspace-editor textarea {
  resize: none;
}
main .workspace-editor ol {
  padding: 6px 12px;
  color: inherit;
}
main .workspace-editor li {
  opacity: 0.55;
}
main .workspace-preview {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  border: none;
}
body[data-orientation="horizontal"] main .workspace-preview {
  width: 50%;
  height: 100%;
}
body[data-orientation="vertical"] main .workspace-preview {
  width: 100%;
  height: 50%;
}
::placeholder {
  color: inherit;
  opacity: 0.55;
  white-space: pre-wrap;
}
num-text {
  --padding: 8px;
  color: #eaeaea;
  font-family: "Cousine", monospace;
  line-height: 1.4;
  --background: #222222;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}
num-text::part(editor) {
  resize: none;
}
::selection, num-text::part(editor)::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}
::selection:window-inactive, num-text::part(editor)::selection:window-inactive {
  background: var(--selection-background-inactive);
}