*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --selection-color: inherit;
  --selection-background: #75b1ff38;
  --selection-background-inactive: #a1a1a138;
}
:root:not(.macOS-device) {
  --titlebar-area-inset-top: 0px;
  --titlebar-area-inset-width-left: 0px;
  --titlebar-area-inset-width-right: 138px;
  --titlebar-area-inset-height: 32px;
}
:root.macOS-device {
  --titlebar-area-inset-top: 0px;
  --titlebar-area-inset-width-left: 68px;
  --titlebar-area-inset-width-right: 0px;
  --titlebar-area-inset-height: 28px;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #dddddd;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", system-ui, sans-serif;
  background: #222222;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
header {
  position: relative;
  --header-height: max(var(--titlebar-area-inset-height),28px);
  display: flex;
  align-items: center;
  font-size: 13px;
  background: #333333;
  border-bottom: 1px solid #000000;
}
header::before, header::after {
  content: "";
  height: var(--header-height);
  flex-shrink: 0;
  -webkit-app-region: no-drag;
}
header::before {
  width: var(--titlebar-area-inset-width-left);
}
header::after {
  margin-left: auto;
  width: var(--titlebar-area-inset-width-right);
}
header .app-region {
  margin: var(--app-region-margin);
  margin-bottom: 0;
  --app-region-margin: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - var(--app-region-margin) * 2);
  height: calc(100% - var(--app-region-margin));
  z-index: -1;
  -webkit-app-region: drag;
}
header .app-title {
  margin: 0 var(--app-title-gap);
  flex-shrink: 0;
  display: flex;
  gap: var(--app-title-gap);
  --app-title-gap: 10px;
}
header .app-icon {
  width: 16px;
  aspect-ratio: 1/1;
  filter: invert() hue-rotate(180deg) saturate(150%);
}
:root.macOS-device header .app-icon {
  display: none;
}
:root.window-inactive header .app-name {
  opacity: 0.55;
}
header .window-controls {
  position: fixed;
  top: var(--titlebar-area-inset-top);
  height: var(--titlebar-area-inset-height);
  display: flex;
  font-size: 10px;
  font-family: "Segoe MDL2 Assets";
  -webkit-app-region: no-drag;
}
:root:not(.macOS-device) header .window-controls {
  right: 0;
  width: var(--titlebar-area-inset-width-right);
}
:root.macOS-device header .window-controls {
  left: 0;
  width: var(--titlebar-area-inset-width-left);
}
:root.window-inactive header .window-controls {
  opacity: 0.55;
}
header .window-controls .control {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none;
  transition: 100ms linear;
  transition-property: color, background-color;
}
header .window-controls:active .control {
  transition: none;
}
header .window-controls:not(:active) .control:hover, header .window-controls .control:hover:active {
  color: #ffffff;
}
header .window-controls:not(:active) .control:hover {
  background-color: #ffffff20;
}
header .window-controls .control:hover:active {
  background-color: #ffffff38;
}
header .window-controls:not(:active) .control[data-control="close"]:hover {
  background-color: #e81123;
}
header .window-controls .control[data-control="close"]:hover:active {
  background-color: #e8112399;
}
header .window-controls .control[data-control="maximize"] [data-icon]:not(.active) {
  display: none;
}
:root.macOS-device header .window-controls .control {
  visibility: hidden;
}
main {
  position: relative;
  flex: 1;
  display: flex;
}
main .workspace-editor {
  position: absolute;
  top: 0;
  left: 0;
}
body.horizontal main .workspace-editor {
  width: 50%;
  height: 100%;
}
body.vertical main .workspace-editor {
  width: 100%;
  height: 50%;
}
main .preview {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  border: none;
}
body.horizontal main .preview {
  width: 50%;
  height: 100%;
}
body.vertical main .preview {
  width: 100%;
  height: 50%;
}
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
num-text {
  --padding: 8px;
  color: #eaeaea;
  font-family: "Cousine", monospace;
  line-height: 1.4;
  --background: #222222;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}
num-text::part(editor) {
  resize: none;
}
::selection, num-text::part(editor)::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}
::selection:window-inactive, num-text::part(editor)::selection:window-inactive {
  background: var(--selection-background-inactive);
}