*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
html {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #dddddd;
  background: #333333;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  -webkit-app-region: drag;
}
main {
  position: relative;
  flex: 1;
  display: flex;
}
main [data-numbered-container], #workspace_preview {
  position: absolute;
  width: 50%;
  height: 100%;
}
body.vertical main [data-numbered-container], body.vertical #workspace_preview {
  width: 100%;
  height: 50%;
}
main [data-numbered-container] {
  top: 0;
  left: 0;
  color: #eeeeee;
  font-size: 13px;
  font-family: "Cousine", monospace;
  background: #222222;
  border: none;
  outline: none;
}
main [data-numbered-container] textarea, main [data-numbered-container] ol {
  padding: 6px;
  background: none;
}
main [data-numbered-container] textarea {
  resize: none;
}
main [data-numbered-container] ol {
  padding: 6px 12px;
  color: inherit;
}
main [data-numbered-container] li {
  opacity: 0.55;
}
::placeholder {
  color: inherit;
  opacity: 0.55;
  white-space: pre-wrap;
}
::selection {
  color: #000000;
  background: #b4d5ffbf;
}
::selection:window-inactive {
  background: #ccccccbf;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar-thumb {
  width: 36px;
  height: 36px;
  background: #7a7a7a;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a;
}
#window_title {
  margin-left: auto;
}
@media (min-width: 500px) {
  #window_title {
    margin-left: unset;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
#window_controls {
  margin-left: auto;
  height: 100%;
  display: flex;
  -webkit-app-region: no-drag;
}
#window_controls .control {
  padding: 8px 16px;
  font-size: 14px;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  line-height: 14px;
}
#window_controls .control:hover {
  background: #ffffff20;
}
#window_controls .control.maximize [data-icon]:not(.active) {
  display: none;
}
#window_controls .control.close:hover {
  color: #ffffff;
  background: #e81123;
}
#workspace_preview {
  bottom: 0;
  right: 0;
  background: #ffffff;
  border: none;
}